#contenedorPadre {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     column-gap: 0%;
     width: 95%;
     margin: 0 auto;
     margin-top: 2em;
}
.container {
     width: 300px;
     height: auto;
     margin: 1%;
     border: 0px solid rgb(0, 0, 0);
     border-radius: 8px;
     box-shadow: green 0px 2px 5px 0px;
     flex-direction: column;
     display: flex;
     background-color: white;
     padding: 10px;
}
.infoBike {
     background-color: rgba(174, 244, 94, 0.686);
     margin: auto;
     padding-top: 2px;
     padding-bottom: 2px;
     border-radius: 10px;
}
 h2, h5 {
     text-align: center;
}
 .img, .img img {
     width: 100%;
}
 .img :hover {
     transform: scale(1.10);
}
 .titleBicis{
     text-align:center;
     font-size: 50px;
     color: rgb(56, 146, 46);
     margin-bottom: 20px;
}
 .categorias{
     display: flex;
     justify-content: space-around;
}
 .categorias a{
     text-decoration: none;
}
 .nombrecategorias{
     background-color: rgb(122, 206, 127);
    color: white;
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .nombrecategorias:hover{
     background-color: green;
}
 .filtrotitulo {
     font-size: 30px;
     width: 100%;
     margin-left: 8%;
     color: rgb(10, 63, 10);
}
 .filtrocaract {
     font-size: 20px;
     width: 100%;
     color: rgb(4, 31, 14);
     text-align:center;
}
 /* INICIO 320px — 560px: estilos para los botones de navegacion bicis característica  */
@media (min-width: 320px) and (max-width: 560px) {
    .categorias {
          display: flex;
          justify-content: space-around;
          flex-direction: column;
          width: 195px;
          margin: 0 auto;
    }
}
/* FIN  320px — 560px: estilos para los botones de navegacion bicis característica  */
